/* Header Styles */

.navbar-custom {
    background-color: #1f2937;
}

.navbar a {
    color: #E5E7EB;
}

.nav-item a:hover {
    color: grey;
}

.navbar-brand:hover{
    color: #f9FAF8;
}

.navbar-custom .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Hero Styles */
.hero {
    color: white;
    background-color: #1F2937;

    display: flex;
    justify-content: center;
}

.hero-div {
    width: 50vw;
    padding: 3em;
}

.hero-div h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-div p {
    font-size: 18px;
    color: #E5E7EB;
}

.img-box {
    background-color: grey;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Random Info Box */
#info-boxes {
    padding: 50px;
    height: auto;
    width: 100%;
    text-align: center;
}

#info-boxes h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    width: 100%;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.box {
    margin: 0 10px;
    text-align: center;
}

.card {
    height: 10em;
    width: 10em;
    margin: 0 auto;
    border: solid blue 2px;
}

caption {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

/* Quote Section */
#quote {
    background-color: #E5E7EB;
    height: auto;
    width: 100%;
    color: #1F2937;
    font-size: 36px;
    padding: 50px;

    font-style: italic;
    text-align: center;
}

#quote p {
    text-align: right;
    font-weight: bolder;
}

/* Call to Action */
#CTA {
    height: auto;
    width: 100%;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#CTA .card {
    background-color: #3882F6;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CTA .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

#CTA .card-body a {
    align-self: flex-end; /* Aligns the button to the right */
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: white solid 2px;
    margin-top: 20px; /* Adds some space between the text and button */
}

#CTA .card-body a:hover {
    background-color: white;
    color: #3882F6;
}




/* Footer Styles */

footer {
    /* Position */
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #f9FAF8;
    font-size: small;
}
